
[Unit]
Description=Mini-P2Pool Node (Mr O — local decentralized mini sidechain)
After=network-online.target monerod.service
Wants=network-online.target
Requires=monerod.service

[Service]
User=ubu
Group=ubu

ExecStart=/usr/local/bin/p2pool \
  --mini \
  --host 127.0.0.1 \
  --rpc-port 18081 \
  --zmq-port 18083 \
  --p2p 0.0.0.0:37889 \
  --stratum 127.0.0.1:3334 \
  --wallet 47mCB8ToCw7Vnqgyj4jTknVJdGcWeJX87WinRaCGsKS6NgUjhSLFxNNY9cyNY7oj2vFwddVtLXbng3i1Xn18gXqP2zPEqN6 \
  --data-dir /home/ubu/.p2pool-mini \
  --data-api /home/ubu/.p2pool-mini/api \
  --local-api \
  --loglevel 2

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
