[Unit]
Description=Run Kraken BTC Trader every 5 mins

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
AccuracySec=30s
Unit=kraken_btc.service
Persistent=true

[Install]
WantedBy=timers.target
